 body {
    margin: 0;
    height: 100vh; 
}

#videoContainer div {
    object-fit: fill; /* Maintain aspect ratio */
}

#videoContainer video {
    object-fit: cover; /* Maintain aspect ratio */
    z-index: 2;
    position: relative;
}

.video-screen {
    background-color: #d9d9d9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.participant-identity{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    z-index: 3;
}
.divider {
    border-right: 1px solid white; 
    padding-right: 2px; 
    padding-left: 2px;
}
.initial-background {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: #363535; /* Blue color, you can change this */
    color: #ffffff; /* White color for the text */
    text-align: center;
    line-height: 100px; /* To vertically center the text */
    font-size: 24px; /* Adjust the font size as needed */
    border-radius: 50%; /* To make it circular */
    z-index: 1;
  }
  .participant-mic-icon{
    z-index: 3;
  }

  .center-div1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{
    height: 100%;
}

.video-screen{
    max-height: 95vh;
    min-height: 90vh;
}

.participant-container-last-row-odd video{
    width: var(--last-row-odd-width);
    height: var(--last-row-odd-height);
}

.participant-container video{
    width: var(--row-element-width);
    height: var(--row-element-height);
}

.participant-container-last-row-odd{
    width: var(--last-row-odd-width);
    height: var(--last-row-odd-height);
}

.participant-container{
    width: var(--row-element-width);
    height: var(--row-element-height);
}